<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Inteligente para la Clasificación de Objetos Personales</title>

    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <div class="contenedor">

        <header>
            <h1>Sistema Inteligente para la Clasificación de Objetos Personales</h1>
            <p>
                Clasificación automática de objetos mediante Inteligencia Artificial
                utilizando una red neuronal ResNet18 y ONNX Runtime.
            </p>
        </header>

        <section class="tarjeta">

            <h2>Seleccionar imagen</h2>

            <input type="file" id="imagenInput" accept="image/*">

            <div class="vista-previa">
                <img id="preview" style="display:none;">
            </div>

            <button id="btnAnalizar">
                Analizar imagen
            </button>

            <div id="resultado" class="resultado"></div>

        </section>

    </div>

    <script src="/static/js/script.js"></script>

</body>

</html>